.dot {
  height: 70px;
  width: 70px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;

}


.dotRed {
  height: 70px;
  width:  70px;
  background-color: rgb(202, 13, 13);
  border-radius: 50%;
  display: inline-block;

}


.dot1 {
  height: 70px;
  width: 70px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: 664px;
  top: 39px;
}


.dotRed1 {
  height: 70px;
  width:  70px;
  background-color: rgb(202, 13, 13);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: 664px;
  top: 39px;
}







.mainDiv{
  position: relative;
  width: 206px;
  height: 190px;
  margin: 0px auto;
  margin-top:150px;
}
.square{
  width:100px;
  height:100px;
  background:#3d3d3d;
  border:solid 2px #FFF;
  transform: skew(180deg,210deg);
  position: absolute;
  top: 43px;
  margin-top:px;

}
.square2{
  width:100px;
  height:100px;
  background:#3a3838;
  border:solid 2px #FFF;
  transform: skew(180deg,150deg);
  position: absolute;
  left:102px;
  top: 43px;
}
.square3{
  width:114px;
  height:100px;
  background:#3d3d3d;
  border:solid 2px #FFF;
 

transform: rotate(150deg) translate(-40px, -16px) skew(30deg, 0deg);
  position: absolute;
  left: 0px;
  top: -32px;
}